html {
	font-family: Helvetica;
}
body {
	background-color: lightblue;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 3em;
}

h1 {
	color: maroon;
	font-family: Lucida;
}

a:link {
	color: darkblue;
}

a:visited {
	color: hotpink;
}

#mybike {
	margin-right: auto;
	margin-left: auto;
	width: 350px;
	padding-left: 20px;
	padding-right:20px;
	border-style: solid;
	border-color: yellow;
	border-width: 5px;
}

.submission {
	background-image: url(yellowbike.jpg);
}

footer {
	padding-left: 20px;
	padding-right: 20px;
}

@media screen and (max-width: 400px) {
 main{
  font-size: 10px;
 } 
img {
	width: 200px;
}
}